<div class="row">
  <div class="col-md-12">
    <div class="modal-content">
      <div class="box-header">
        <p>เพิ่มแอดมิน</p>
      </div>
      <div class="box-body">
        <form role="form">  
          <div class="form-group col-md-3">
            <label>ประเภทบุคคล {{p_type}}</label>
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-transgender"></i>
              </div>
              <select ng-model="p_type" id="p_type" class="form-control">
                <option value="0">บุคคลที่อาศัยอยู่ในบ้านพัก</option>
                <option value="1">บุคคลที่ไม่ได้อาศัยอยู่ในบ้านพัก</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>หน่วยงาน</label>
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-transgender"></i>
              </div>
              <select ng-model="owner_group_id" class="form-control" ng-disabled="p_type == 0">
                <option ng-repeat="x  in masterData.ownerGroups" value="{{ x.OWNER_GROUP_ID }}">{{ x.OWNER_GROUP_DESCR }}</option>
                <option value="0">ไม่มี</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="fullname">ชื่อ - สกุล </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" class="form-control" id="fullname" ng-model="fullname" ng-disabled="p_type == 0">
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="nickname">ชื่อเล่น </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" class="form-control" id="nickname" ng-model="nickname" ng-disabled="p_type == 0">
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>เพศ</label>
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-transgender"></i>
              </div>
              <select ng-model="gender" class="form-control" ng-disabled="p_type == 0">
                <option ng-repeat="x  in genders" value="{{ x.k }}">{{ x.v }}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="user">ชื่อผู้ใช้(Username) </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" class="form-control" id="user" ng-model="user">
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="password">รหัสผ่าน(Password) </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="password" class="form-control" id="password" ng-model="password">
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="confirmpassword">รหัสผ่านอีกครัง(Confirm password) </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="password" class="form-control" id="confirmpassword" ng-model="confirmpassword">
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-success pull-right" ng-click="save() "  >เพิ่ม</button>
        <button data-toggle="modal" data-target="#seluser" class="btn btn-warning btn-sm" ng-hide="true" id="btnseluser">เปลี่ยนสถานะ</i>
      </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="seluser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">เลือกบุคคลที่ต้องการให้เป็นแอดมิน</h4>
        <!-- <button class="btn btn-primary pull-right btn-sm" ng-click="setTable('tbaccount')">เครื่องมือค้นหา</button> -->
      </div>
      <div class="modal-body">  
        <table id="tbaccount" class="table table-bordered table-striped medium-text">
          <thead>
          <tr>
            <th>No.</th>
            <th>เลขบัตรประชาชน {{persid}}</th>
            <th>ชื่อ-สกุล</th>
            <th>ชื่อเล่น</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="acc_tr">
              <!-- <tr ng-repeat="(i,x) in persons" ng-init="$last && modaluser()">
                <td>{{i}}</td>
                <td>{{x.PERS_N_ID}}</td>
                <td>{{x.FIRST_NAME}}</td>
                <td>{{x.PERS_NICKNAME}}</td>
                <td><button class="btn btn-success"><i class="fa fa-check-square-o"></i></button></td>
              </tr> -->
          </tbody>
        </table>
        <button class="btn btn-success" ng-click="save(1)"></button>
      </div>
    </div>
    
  </div>
</div>