<!-- <div class="row">
  <div ng-repeat="(i,x) in owner.homes">
  <div class="col-md-3">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-blue" ng-click="">
        <div class="widget-user-image">
          <img class="img-circle" src="img/zoro.jpg" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{x.HOME_NAME}}</h3>
        <h5 class="widget-user-desc">ประเภท {{ getHomeType(x.HOME_TYPE_ID) }}</h5>
      </div>
      <div class="box-footer no-padding" ng-switch ="{{x.HOME_TYPE_ID}}">
        <ul class="nav nav-stacked" ng-switch-default>
          <li><a href="{{x.links}}">ดูทั้งหมด... <span class="pull-right badge bg-aqua">{{ countRoom(x,0)}}</span></a></li>
          <li><a href="#">มีผู้อาศัย <span class="pull-right badge bg-blue">{{ countRoom(x,2)}}</span></a></li>
          <li><a href="#">ว่าง <span class="pull-right badge bg-green">{{ countRoom(x,1)}}</span></a></li>
          <li><a href="#">ซ่อมแซม <span class="pull-right badge bg-red">{{ countRoom(x,3)}}</span></a></li>
        </ul>
        <ul class="nav nav-stacked" ng-switch-when="1">
          <li><a href="#!room_details?home={{x.HOME_ID}}"> {{ countRoom(x,1) > 0 ? "ว่าง":"มีผู้อาศัย"}} <span class="pull-right badge bg-green">ดูรายละเอียด</span></a></li>
          <li><a > เจ้าของห้อง <span class="pull-right badge bg-blue">-</span></a></li>
          <li><a > จำนวนผู้อาศัย <span class="pull-right badge bg-green">-</span></a></li>
          <li><a > เข้าอยู่เมื่อ <span class="pull-right badge bg-red">-</span></a></li>
        </ul>
        <ul class="nav nav-stacked" ng-switch-when="4">
          <li><a href="#"> {{ countRoom(x,1) > 0 ? "ว่าง":"มีผู้อาศัย"}} <span class="pull-right badge bg-green"></span></a></li>
          <li><a href="#"> เจ้าของห้อง <span class="pull-right badge bg-blue">-</span></a></li>
          <li><a href="#"> จำนวนผู้อาศัย <span class="pull-right badge bg-green">-</span></a></li>
          <li><a href="#"> เข้าอยู่เมื่อ <span class="pull-right badge bg-red">-</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div> -->
<!-- <div class="col-md-12">
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-check"></i> Alert!</h4>
    Success alert preview. This alert is dismissable.
  </div>
</div> -->
<div class="col-md-12">
    <div class="box box-teal">
          <div class="box-header">
            <button data-toggle="modal" data-target="#addHome" class="btn bg-green btn-md pull-right" ng-click="addBtn();">เพิ่ม <i class="fa fa-plus"></i></button>
            <h3 class="box-title">ตารางข้อมูลบ้านพัก ทั้งหมด {{homes.length}} หลัง </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable="ng" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>ที่</th>
                <th>ชื่อบ้าน</th>
                <th>หมายเลขอาคาร</th>
                <th>ประเภท</th>
                <th>ทั้งหมด/ห้อง</th>
                <th>มีผู้อาศัย/ห้อง</th>
                <th>ว่าง/ห้อง</th>
                <th>ซ่อมแซม/ห้อง</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="(i,x) in homes">
                    <td>{{ i+1 }} </td>
                    <td>{{ x.HOME_NAME }}</td>
                    <td>
                      {{ x.HOME_NUMBER }} / {{x.HOME_SUB_NUMBER}}
                      <span ng-show="x.HOME_SUB_NUMBER_SEQ"> {{x.HOME_SUB_NUMBER_SEQ}}</span>
                    </td>
                    <td>{{ getHomeType(x.HOME_TYPE_ID) }}</td>
                    <td>{{ countRoom(x,0) }} <a href="{{x.links}}" class="btn btn-sm btn-primary pull-right"><i class="fa fa-desktop"></i></a></td>
                    <td class="bg-info">{{ countRoom(x,2) }} 
                      <a ng-if="x.linkStay != '' && countRoom(x,2) > 0" href="{{x.linkStay}}" class="pull-right"><i class="fa fa-desktop"></i></a>
                    </td>
                    <td class="bg-success">{{ countRoom(x,1) }} 
                      <a ng-if="x.linkEmpty != '' && countRoom(x,1) > 0" href="{{x.linkEmpty}}" class="pull-right"><i class="fa fa-desktop"></i></a>
                    </td>
                    <td class="bg-danger">{{ countRoom(x,3) }} 
                      <a ng-if="x.linkFixed != '' && countRoom(x,3) > 0" href="{{x.linkFixed}}" class="pull-right"><i class="fa fa-desktop"></i></a>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-success " data-toggle="modal" data-target="#detailHome" ng-click="homeDetail(i)"><i class="fa fa-desktop"></i></button>
                      <button class="btn btn-sm btn-warning " data-toggle="modal" data-target="#editHome" ng-click="editHomePre(i)"><i class="fa fa-edit"></i></button>
                      <button ng-disabled="countRoom(x,2) > 0" class="btn btn-sm btn-danger " data-toggle="modal" data-target="#deleteHome" ng-click="editHomePre(i)"><i class="fa fa-remove"></i></button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
    </div>
</div>

<div class="modal modal-wide  fade" id="addHome" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">เพื่มบ้านพัก</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="box-body">
            <div class="form-group col-md-12">
              <label>ผู้ดูแล</label>
              <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-transgender"></i>
                </div>
                <select ng-model="owner_group" class="form-control">
                  <option ng-repeat="x  in masterData.ownerGroups" value="{{ x.OWNER_GROUP_ID }}">{{ x.OWNER_GROUP_NAME }} - {{ x.OWNER_GROUP_DESCR }}</option>
                </select>
              </div>
            </div>
           <div class="form-group col-md-12">
              <label>ประเภทบ้าน</label>
              <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-transgender"></i>
                </div>
                <select ng-model="home_type" class="form-control">
                  <option ng-repeat="x  in masterData.homeTypes" value="{{ x.HOME_TYPE_ID }}">{{ x.HOME_TYPE_NAME }}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 2 || home_type == 3">
              <div class="row" ng-init="column=1;_row=1">
                <div class="form-group col-md-6">
                  <label>จำนวนชั้น/แถว </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </div>
                    <input type="number" class="form-control" id="_row" ng-model="_row">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>จำนวนห้องแต่ละชั้น/แถว </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </div>
                    <input type="number" class="form-control" id="column" ng-model="column">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>ชื่อบ้านพัก </label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" id="home_name" placeholder="ชื่อบ้านพัก" ng-model="home_name">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label >หมายเลขอาคาร </label>
              <div class="row">
                <div class="form-group col-md-4">
                  <input type="number" class="form-control" id="add_main" ng-model="add_main">
                </div>
                <div class="col-md-1">/</div>
                <div class="form-group col-md-4">
                  <input type="number" class="form-control" id="add_sub" ng-model="add_sub">
                </div>
                <div class="form-group col-md-3" ng-disabled="home_type == 1 || home_type == 4 || home_type == 6">
                  <input type="text" class="form-control" id="add_sub_seq" ng-model="add_sub_seq" placeholder="เช่น (1)"  ng-disabled="home_type == 2 || home_type == 3 || home_type == 5">
                  <span><small style="color: red;">*กรณีเลขอาคารซ้ำ</small></span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 2 || home_type == 3">
              <label>บ้านเลขที่ </label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" id="home_addr_front" placeholder="เช่น 111 " ng-model="home_addr_front">
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 1 || home_type == 4 || home_type == 6">
              <label>บ้านเลขที่ </label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="number" class="form-control" id="home_addr_one" ng-model="home_addr_one">
                </div>
                <div class="col-md-1">/</div>
                <div class="form-group col-md-5">
                  <input type="number" class="form-control" id="home_sub_addr_one" ng-model="home_sub_addr_one">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 5">
              <label>บ้านเลขที่ บ้านแฝดห้อง1 </label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="number" class="form-control" id="home_addr_duo1" ng-model="home_addr_duo1">
                </div>
                <div class="col-md-1">/</div>
                <div class="form-group col-md-5">
                  <input type="number" class="form-control" id="home_sub_addr_duo1" ng-model="home_sub_addr_duo1">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 5">
              <label>บ้านเลขที่ บ้านแฝดห้อง2 </label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="number" class="form-control" id="home_addr_duo2" ng-model="home_addr_duo2">
                </div>
                <div class="col-md-1">/</div>
                <div class="form-group col-md-5">
                  <input type="number" class="form-control" id="home_sub_addr_duo2" ng-model="home_sub_addr_duo2">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>รายละเอียด (เพิ่มเติม)</label>
              <textarea class="form-control" rows="2" placeholder="รายละเอียด ..." ng-model="home_descr" id="home_descr"></textarea>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer" ng-show="home_type == 2 || home_type == 3">
            <p>จำนวนห้องพักรวม : {{column * _row}} ห้อง</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addHome() " data-dismiss="modal" >บันทึก</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal modal-wide  fade" id="editHome" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">แก้ไข</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="box-body">
            <div class="form-group col-md-12">
              <label>ผู้ดูแล</label>
              <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-transgender"></i>
                </div>
                <select ng-model="owner_group" class="form-control">
                  <option ng-repeat="x  in masterData.ownerGroups" value="{{ x.OWNER_GROUP_ID }}">{{ x.OWNER_GROUP_NAME }} - {{ x.OWNER_GROUP_DESCR }}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12" ng-show="home_type == 2 || home_type == 3">
              <div class="row" ng-init="column=1;_row=1">
                <div class="form-group col-md-6">
                  <label>จำนวนชั้น/แถว </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </div>
                    <input type="number" class="form-control" id="_row" ng-model="_row">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>จำนวนห้องแต่ละชั้น/แถว </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </div>
                    <input type="number" class="form-control" id="column" ng-model="column">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>ชื่อบ้านพัก </label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" id="home_name" placeholder="ชื่อบ้านพัก" ng-model="home_name">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="editHome(home_index) " data-dismiss="modal" >บันทึก</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal modal-wide  fade" id="deleteHome" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{home_name}}</h4>
      </div>
      <div class="modal-body">
        <div class="box-body">
          <h4>ต้องการลบ <strong>"{{home_name}}"</strong> ออกใช่มั้ย ?</h4>
          <p> <strong>หมายเหตุ </strong> สามรถลบได้เฉพาะที่ยังไม่มีคนอยู่เท่านั้น</p>        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteHome(home_index) " data-dismiss="modal" >ยืนยัน</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >ยกเลิก</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal modal-wide  fade" id="detailHome" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">รายละเอียด</h4>
      </div>
      <div class="modal-body text-center">
        <form role="form">
          <div class="box-body">
            <div class="form-group col-md-12">
              <label>ผู้ดูแล</label>
              <span>{{owner_group}}</span>
            </div>
           <div class="form-group col-md-12">
              <label>ประเภทบ้าน</label>
              <span>{{home_type}}</span>
            </div>
            <div class="form-group col-md-12" ng-show="home_type_id == 2 || home_type_id == 3">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>จำนวนชั้น/แถว </label>
                  <span>{{sec_count}}</span>
                </div>
                <div class="form-group col-md-12">
                  <label>จำนวนห้อง </label>
                  <span>{{room_count}}</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>ชื่อบ้านพัก </label>
              <span>{{home_name}}</span>
            </div>
            <div class="form-group col-md-12">
              <label >รหัสห้อง </label>
              <span>{{add_main}} / {{add_sub}}</span>
            </div>
            <div class="form-group col-md-12">
              <label>รายละเอียด (เพิ่มเติม)</label>
              <span>{{home_descr}}</span>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
      </div>
    
  </div>
</div>
