<!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>150</h3>

                <p>บ้านว่าง</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">ดูเพิ่มเติม <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>บ้านที่มีผู้อยู่อาศัย</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">ดูเพิ่มเติม <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>44</h3>

                <p>บ้านที่อยู่ระหว่างซ่อมแซม</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">ดูเพิ่มเติม <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>65</h3>

                <p>บ้าน ...</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">ดูเพิ่มเติม <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">ค้นหาบ้าน</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                  <div class="box-body">
                    <div class="form-group">
                      <label for="authorename">ชื่อเจ้าของบ้าน</label>
                      <input type="text" class="form-control" id="authorename" placeholder="ชื่อ สกุล">
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                  </div>
            </div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">ค้นหาผู้อยู่อศัย</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                  <div class="box-body">
                    <div class="form-group">
                      <label for="homenamber">บ้านเลขที่</label>
                      <input type="text" class="form-control" id="homenamber" placeholder="บ้านเลขที่">
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                  </div>
            </div>
          </section>
          <section class="col-lg-12 connectedSortable">
            <div class="box">
          <div class="box-header">
            <h3 class="box-title">ข้อมูลผู้อยู่อาศัยปัจจุบัน</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>บ้านเลขที่</th>
                <th>เจ้าของบ้าน</th>
                <th>จำนวนสมาชิก/คน</th>
                <th>วันที่เข้าอยู่</th>
                <th>หมายเหตุ</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>3/3</td>
                <td>zxczx/td>
                <td>zczx</td>
                <td>zxczx</td>
                <td>czxczxcxzczx</td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
          </section>
          <!-- right col -->