
    <!-- Modal content-->
<div class="modal-content ">
  <div class="modal-header">
    <h4 class="modal-title">แก้ไขข้อมูลผู้พักอาศัย</h4>
  </div>
  <div class="modal-body">
    <form role="form">
            <div class="box-body">
              <div class="form-group col-md-12 text-center">
                 <div class="widget-user-image" ng-click="clickImage()">
              <img class="img-circle" src="{{filepath}}/{{person.picture_path}}" alt="User Avatar"  width="150" height="150" id="pictureView">
            </div>
            <label for="fullname">รูปถ่าย </label>
              </div>
              <div class="form-group col-md-4">
                <label>หน่วยงาน {{person.owner_group_id}}</label>
                <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-transgender"></i>
                  </div>
                  <select ng-model="person.owner_group_id" class="form-control">
                    <option ng-repeat="x  in masterData.ownerGroups" value="{{ x.OWNER_GROUP_ID }}">{{ x.OWNER_GROUP_DESCR }}</option>
                    <option value="0">ไม่มี</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="fullname">ชื่อ - สกุล </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="fullname" placeholder="ยศ. ชื่อ สกุล" ng-model="person.fullname">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="nickname">ชื่อเล่น </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="nickname" placeholder="ปอย" ng-model="person.nickname">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>เพศ</label>
                <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-transgender"></i>
                  </div>
                  <select ng-model="person.gender" class="form-control">
                    <option ng-repeat="x  in genders" value="{{ x.k }}">{{ x.v }}</option>
                  </select>
               </div>
            </div>
              <div class="form-group col-md-4">
                <label >เลขประจำตัวประชาชน: </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-credit-card"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "9999999999999"' data-mask id="idCard" ng-model="person.idCard">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="fullname">ความสำพันธ์ </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="relation" placeholder="ลูกสาว" ng-model="person.relation">
                </div>
              </div>
            <div class="form-group col-md-4">
                <label >วัน/เดือน/ปี เกิด: </label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker" ng-model="person.birthday">
                </div>
             </div>
            <div class="form-group col-md-4">
                <label for="national">สัญชาติ </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="national" placeholder="สัญชาติ" ng-model="person.national">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="edu">การศึกษา </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="edu" placeholder="การศึกษา" ng-model="person.edu">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="career">อาชีพ </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="career" placeholder="อาชีพ" ng-model="person.career">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="academy">สังกัด โรงเรียน ชื่อหน่วยงาน </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="academy" placeholder="สังกัด" ng-model="person.academy">
                </div>
              </div>
            <div class="form-group col-md-4">
                <label>เบอร์โทร์ศัพท์ที่ทำงาน:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "9999999999"' data-mask ng-model="person.phone" id="phone">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>เบอร์โทร์ศัพท์มือถือ:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-mobile"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "9999999999"' data-mask ng-model="person.mobile" id="mobile">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label >วันที่เข้าพัก: </label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker2" ng-model="person.startDate">
                </div>
            </div>
              <div class="form-group col-md-12">
                <label>ที่อยู่</label>
                <div class="row">
                  <div class="col-md-4">
                    <textarea class="form-control" rows="2" placeholder="123/45 ..." ng-model="person.origin_address_descr" id="origin_address_descr"></textarea>
                  </div>
                  <div class="form-group col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-paper-plane"></i>
                        </div>
                      <select id="addr" ng-model="person.origin_address" class="form-control select2" style="width: 100%;">
                          <option ng-repeat="x in districts" value="{{x.d_id}}">{{x.p_name}} >> {{ x.a_name}} >> {{ x.d_name }} >> {{ x.zip_code }}</option>
                      </select>
                  </div>
                </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>ทะเบียนรถ</label>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="car">รถยนต์ </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-car"></i>
                      </div>
                      <input type="text" class="form-control" id="car" placeholder="กข 123" ng-model="person.car">
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="biker">รถจักรยานยนต์ </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-motorcycle"></i>
                      </div>
                      <input type="text" class="form-control" id="biker" placeholder="กข 123" ng-model="person.biker">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>หมายเหตุ</label>
                <textarea class="form-control" rows="3" placeholder="หมายเหตุ.." ng-model="person.reference" id="real_address"></textarea>
              </div>
              <div class="form-group col-md-4" ng-hide="true">
                <label for="exampleInputFile">รูปถ่าย</label>
                <input type="file" id="exampleInputFile" multiple onchange="angular.element(this).scope().fileNameChanged(this)">
                <p class="help-block">Example block-level help text here.</p>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </div>
          </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="edit()" >บันทึก</button>
  </div>
</div>
    
