<div class="row">
  <div ng-repeat="x in masterData.ownerGroups">
  <div class="col-md-4">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-yellow">
        <div class="widget-user-image">
          <img class="img-circle" src="img/zoro.jpg" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{x.OWNER_GROUP_NAME}}</h3>
        <h5 class="widget-user-desc">รับผิดชอบ {{x.OWNER_GROUP_DESCR}}</h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a href="#">ว่าง <span class="pull-right badge bg-green">{{ countRoom(x.homes,1)}}</span></a></li>
          <li><a href="#">มีผู้อาศัย <span class="pull-right badge bg-blue">{{ countRoom(x.homes,2)}}</span></a></li>
          <li><a href="#">ซ่อมแซม <span class="pull-right badge bg-red">{{ countRoom(x.homes,3)}}</span></a></li>
          <li><a href="#!homes?id={{x.OWNER_GROUP_ID}}">ดูทั้งหมด... <span class="pull-right badge bg-aqua">{{ countRoom(x.homes,0)}}</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>